<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd
                            http://www.springframework.org/schema/util
                           http://www.springframework.org/schema/util/spring-util.xsd">
<util:list list-class="java.util.LinkedList" id="myCourse">
  <value>Java</value>
  <value>Hibernate</value>
  <value>MySQL</value>
</util:list>
    <bean class="com.springcore.spring.standAloneCollection.Student" name="student1">
       <property name="course">
          <ref bean="myCourse" />
       </property>
    </bean>
</beans>
